@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 60%
    left: -10%
    width: 25%
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 25%
    width: 20%
  &-3
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 80%
    right: 50%
    width: 30%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 58.33333333% !important
.banner-principal__img 
  padding-bottom: 0 !important;
.banner-principal__row .banner-principal__img 
    width: 33%;
    
.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: $color-sistema-texto !important  

.boton *, .boton--sm *,
.barra-avance__boton--regresar span
  color: $white !important
.banner-interno__titulo h1, .banner-interno__titulo h2, 
.banner-interno__titulo h3, .banner-interno__titulo h4, 
.banner-interno__titulo h5, .banner-interno__titulo h6
  color: $color-sistema-texto !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $white !important
figcaption 
    font-weight: normal !important

.banner-interno__titulo__icono i
    color: $color-acento-botones !important;

/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.p-full-width
  padding: 3rem 3.5rem!important;
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-fondo
  &-1
    background-image: url(../assets/curso/temas/bg/1.svg)    
    background-repeat: no-repeat
    margin-inline: -3.2rem !important
    background-size: cover
  &-2
    background-image: url(../assets/curso/temas/bg/2.svg)    
    background-repeat: no-repeat
    margin-inline: -3.2rem !important
    background-size: cover
  &-3
    background-image: url(../assets/curso/temas/bg/3.svg)    
    background-repeat: no-repeat
    margin-inline: -3.2rem !important
    background-size: cover
.bg-color
  &-1
    background-color: $color-primario
  &-2
    background-color: #f8f8b5
  &-3
    background-color: #F2EDFA
  &-4
    background-color: #fff
  &-5
    background-color: #fff5e6
  &-6
    background-color: #ffecd0
  &-7
    background-color: #f4f3ed
  &-8
    background-color: #fdfdeb
/**************************************************************/
/*Media Queries*/  
/**************************************************************/

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important

//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  

//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: #000 !important


/*Accordion*/
.tarjeta.acordeonA
  background-color: #e6def6 !important
  transition: background-color 0.3s ease-in-out
  
  .acordion__header
    .acordion__titulo
      h3, h4, span, a, p
        color: #000 !important

  &.acordion__activo
    background-color: #f8f8b5 !important
    .acordion__header
      .acordion__titulo
        h3, h4, span, a, p
          color: #000000 !important
    
    .acordion__contenido
      p, li, span
        color: #000000 !important

.acordion__accion__btn--a
  background-color: #eb07d8 !important 
  i
    color: #fff !important

.acordeonA
  position: relative  
  width: 100%  
  p, h4
    padding-left: 4.3rem !important 
  .lista-ul
    padding-left: 4.3rem
    li
      display: flex
      align-items: flex-start
      i
        padding-top: 1px   
/*Fin Accordion*/

.color-vinotinto-custom i.fas
  color: #ffa219 !important
  &::before 
    color: #ffa219 !important


/*Pestanas */
.tabs-c__tab--active
  font-weight: bold

.tabs-c__content-item
  background-color: #FBFBDA
  padding: 2rem

.tabs-c
  border-bottom: none !important

.tabs-a__tab
  background-color: #FDF0AC
/*Pestanas*/




/* Tablas */

.tabla-a
  overflow-x: auto !important 
  -webkit-overflow-scrolling: touch 
  
  table
    min-width: 600px 
    table-layout: auto
    
    thead
      border-color: $color-acento-contenido
      background-color: $color-acento-contenido !important
      
    th, td
      text-align: start
      padding: 15px 
      
    tbody
      tr:nth-child(odd)
        background-color: #F6F6F6
      tr:nth-child(even)
        background-color: #FFFFFF

.separador__tabla
  background-color: #F6F6F6


/* Tablas */

/* Código para los carruseles */
.carousel-bg
  .fas
    &.fa-chevron-left, &.fa-chevron-right
      display: inline-flex !important
      align-items: center !important
      justify-content: center !important
      width: 45px !important
      height: 45px !important
      min-width: 45px !important
      min-height: 45px !important
      padding: 0 !important
      margin: 0 !important
      border-radius: 50% !important
      background-color: #eb07d8 !important
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
      font-size: 16px      
      color: #ffffff !important
      &::before
        color: #ffffff !important      
      @media screen and (max-width: $bp-max-md)
        background-color: transparent !important
        box-shadow: none !important
        font-size: 20px !important
        color: #eb07d8 !important 
        &::before
          color: #eb07d8 !important

.bordes
  border: 1px solid #CBD5E0 !important
/* Fin Código para los carruseles */

/*Slideshows*/
.bg-fondo
  &-slider
    background-image: url("../assets/curso/portada/fondo-banner-principal.png") !important
    background-position: bottom
    background-repeat: no-repeat
    background-size: cover
    margin-inline: -3.2rem !important
.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #eb07d8 !important
.slyder-a__bullets__item--active 
  background-color: #eb07d8 !important
  border-color: #eb07d8
.slyder-a__bullets__item
  background-color: #eb07d8
  border: 1px solid #eb07d8
.bloque-texto-b.color-secundario:before
  background-color: #CBE7E8
.tarjeta-numerada.color-primario
  border-color: #F3F0EA
  background-color: #F3F0EA
.tarjeta-numerada.color-primario .tarjeta-numerada__numero
  background-color: #eb07d8
.tarjeta-numerada__numero
  top: 35%
/*Slideshows*/


.tarjeta-codigo
  border-radius: 10px
  overflow: hidden
  position: relative
  padding-top: 3rem
  &:before
    position: absolute
    content: ''
    height: 55px
    background-color: #3a1d71
    width: 100%
    top: 0
    left: 0
  &:after
    position: absolute
    content: url('../assets/curso/temas/botones.svg')
    top: 0
    left: 0
    transform: translate(20px, 20px)

.hr--line
  margin: 1rem 0
  width: 100%
  height: 1px  
  background-color: #B0C0D2
.bg--gradientBlue        
  background: linear-gradient(0deg, rgba(215,236,252,1) 0%, rgba(239,246,252,1) 100%)
.no-pointer 
  .tarjeta--boton
    cursor: initial !important
.cursor-pointer
  .crd_hover_txt, .tarjeta-foto-hover, .nav-holder, .content-card4
    cursor: pointer    

.dialogo.color-primario .dialogo__words__word
  color: #3c7792 !important

.circl-arrow .slyder-f__btn i
    font-size: 1.2rem
    background-color: #FF4A69
    //background-color: $color-acento-contenido
    //color: $white
    height: 46px
    width: 46px
    padding: 5px
    border-radius: 500px
    display: flex
    justify-content: center
    align-items: center




// Accordeon pasos
.linea-tiempo-d__item__content.tarjeta.tarjeta--gris, .linea-tiempo-d__item__number.tarjeta.tarjeta--gris
  background-color: #FFF !important

.linea-tiempo-d__item.row.linea-tiempo-d__item--selected
  .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
    background-color: #FFE9B5
    
.linea-tiempo-d.color-secundario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #FFC94A

.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #FFC94A

.tarjeta
  background-color: #FFF !important

  // Accordeon pasos



.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__line-container:before, .linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__line-container:after
  background-color: #a6a632 !important
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__line-container:before
  background-color: #eb07d8 !important
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__dot:after
  background-color: #eb07d8 !important
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__dot
  border-color:   #a6a632 !important
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__line-container:before
  background-color:#a6a632 !important
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__dot
  border-color:   #eb07d8 !important 
.linea-tiempo-c__header__btn, .pasos-b__header__btn--left, .pasos-b__header__btn--right, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right
  background-color:#eb07d8 !important
  border-color:   #eb07d8 !important
.linea-tiempo-c__header__btn i, .pasos-b__header__btn--left i, .pasos-b__header__btn--right i, .linea-tiempo-c__header__btn--left i, .linea-tiempo-c__header__btn--right i
  color: $white
.linea-tiempo-c__header__item__line-container:after, .linea-tiempo-c__header__item__line-container:before
  background-color:#a6a632 !important
.linea-tiempo-c__header__item__dot
  border-color:   #a6a632 !important

/*Audio*/
.bg-custom-teal
  background-color: #432e69 !important 
  position: relative
  overflow: hidden
  
.bg-custom-dark-teal
  background-color: #432e69 !important

.border-lemon
  border: 4px solid #885dd5 !important
  border-radius: 15px

/*Fin Audio*/


.lista-ol--cuadro__vineta span
  color: black

.tarjeta-respuesta
  background-color: #d8ecff !important

.creditos-vista .tarjeta.credito, .footer
  background-color: #d2e1f1 !important

.banner-interno__fondo
  background-image: url("../assets/curso/portada/banner_interno.png") !important


/* Código para los subtítulos que tienen imagenes */
.titulo-con-imagen
  display: flex
  align-items: center
  position: relative

.titulo-con-imagen__fondo
  background-color: $color-acento-contenido
  border-radius: 10px
  padding: 10px 20px
  display: inline-flex
  align-items: center

.titulo-con-imagen__imagen
  position: absolute
  left: -20px
  width: 50px

.titulo-con-imagen__texto
  margin: 0
  padding-left: 20px

@media (max-width: 768px)
  .titulo-con-imagen
    position: relative
    width: 100%

  .titulo-con-imagen__fondo
    display: inline-flex
    padding: 10px 15px
    gap: 12px          
    max-width: 100%

  .titulo-con-imagen__imagen
    position: static   
    width: 40px       
    flex-shrink: 0    

  .titulo-con-imagen__texto
    padding-left: 0   
/* Fin Código para los subtítulos que tienen imagenes */

  